.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 25px;
    width: 100px;
    height: 50px;
    width: 50px;
    height: auto;
    cursor: pointer;
}

.ul {
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-evenly;
}

.li {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    transition: width 200ms, left 200ms;
}

.li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    background-color: black;
    transition: width 200ms, right 200ms;
}

.li:hover::before,
.li:hover::after {
    width: calc(50% + 2 * 2px);
    left: calc(25% - 2px);
    right: calc(25% - 2px);
}

.link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}